* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../assets/texture.png'), rgba(19, 20, 23, 1);
    padding: 1rem;
    color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.container {
    max-width: 1500px;
    margin: auto;
    background: rgba(255, 255, 255, 0.05);
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    width: 100%;
}

input:focus {
    outline: none;
    border: 1px solid rgba(135, 240, 25);
    color: rgb(255, 255, 255);
    filter: drop-shadow(rgba(35, 210, 0, 0.5) 0px 0px 1vw);
}

input,
button,
select {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.025);
    border: 1px solid rgba(255, 255, 255, 0.05);
    color: rgb(177, 177, 177);
    border-radius: 0px;
}

button {
    background-color: rgba(255, 255, 255, 0.025);
    border: 1px solid rgba(255, 255, 255, 0.05);
    color: rgb(177, 177, 177);
    transition: 0.3s;
}

button:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 1vw);
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th,
td {
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 0.5rem;
    text-align: center;
}

th {
    background-color: rgba(255, 255, 255, 0.025);
    color: rgb(177, 177, 177);
}

@media (max-width: 600px) {
    .input-group {
        flex-direction: column;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    th {
        position: sticky;
        top: 0;
    }
}

/* swal design */

.swal-popup {
    font-family: Arial, sans-serif;
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.05);
    max-width: 400px;
    width: 90vw;
}

.swal-popup::backdrop {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(1px);
}

.swal-input {
    font-family: Arial, sans-serif;
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.025);
    border: 1px solid rgba(255, 255, 255, 0.05);
    color: rgb(177, 177, 177);
    border-radius: 0px;
}

.swal-confirm {
    background-color: rgba(255, 255, 255, 0.025);
    border: 1px solid rgba(255, 255, 255, 0.05);
    color: rgb(177, 177, 177);
}

.swal-cancel {
    background-color: rgba(255, 255, 255, 0.025);
    border: 1px solid rgba(255, 255, 255, 0.05);
    color: rgb(177, 177, 177);
}

.swal-confirm:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 1vw);
    cursor: pointer;
}

.swal-cancel:hover {
    background-color: rgb(196, 72, 72);
    border: 1px solid rgb(180, 78, 78);
    color: rgb(255, 255, 255);
    filter: drop-shadow(rgba(180, 71, 71) 0px 0px 1vw);
    cursor: pointer;
}