/* Gentium Plus */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@400;700&display=swap&subset=greek');
/* IBM Plex Sans */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap&subset=greek');


:root {
    --font_family_gp: 'Gentium Plus', Arial;
    --font_family_ibm: 'IBM Plex Sans', sans-serif;
}

* {
    font-family: var(--font_family_ibm);
    user-select: none;
}

button:focus {
    outline: none;
    border: none;
}

body {
    margin: 0;
    font-family: var(--font_family_ibm);
    background-color: #0A0B0A;
    background: url('../images/hbgr.png');
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    background: url('../images/hbgr.png');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: red;
    color: #fff;
    position: relative;
    z-index: 1000;
    flex-direction: column;
    gap: 10px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 100px;
    height: auto;
}

.lang-switch {
    display: flex;
    gap: 10px;
}

.lang-switch button {
    padding: 6px 10px;
    cursor: pointer;
}

.menu-links {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.link-item {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    font-family: var(--font_family_ibm);
    text-transform: uppercase;
    color: #EFE7D2;
}

.link-item::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: #EFE7D2;
    transform: translateX(-50%);
    transform-origin: center;
    transition: width 0.3s;
}

.link-item:hover::after {
    width: 100%;
    transform: translateX(-50%);
}

/*  */

/* .categories {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    background: #e7a138;
    padding: 10px;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.categories button {
    padding: 10px 14px;
    background: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    text-transform: uppercase;
} */

.categories-wrapper {
    width: 100%;  
    background: rgba(10, 11, 10, 0.65);  
    position: sticky;
    top: 0;
    z-index: 999;
    scroll-behavior: smooth;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    backdrop-filter: blur(5px);
}

.categories {
    display: flex;
    justify-content: start;
    overflow-x: auto;
    overflow-y: hidden;
    /* background: rgba(33, 167, 33, 0.65); */
    max-width: 700px;
    padding: 10px;
    gap: 10px;
    margin: 0 auto;
}

.categories::-webkit-scrollbar {
    display: none;
}

.categories button {
    padding: 10px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
    text-transform: uppercase;
    flex: 0 0 auto;
    color: #EFE7D2;
    position: relative;
    transition: color 0.3s ease;
    font-weight: bold;
    background: none;
}

.categories button::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 2px;
    background: #EFE7D2;
    transition: transform 0.3s ease;
}

.categories button:hover::after,
.categories button.active::after {
    transform: translateX(-50%) scaleX(1);
}

.categories button.active {
    font-weight: bolder;
}

@media (max-width: 600px) {
    .categories {
        justify-content: flex-start;
        max-width: 370px;
    }
}

section {
    padding: 25px;
    text-align: center;
}

section h2 {
    font-family: var(--font_family_gp);
    text-transform: uppercase;
    color: #EFE7D2;
    letter-spacing: 5px;
}

#catalog {
    position: relative;
    margin: 0 auto;
    max-width: 600px;
    background-color: rgba(10, 11, 10, 0.45);
}

.item {
    margin-bottom: 25px;
    text-align: left;
    /* border: 1px solid #ccc;
    border-radius: 8px; */
    padding: 15px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    /* background: #fff; */
    color: #fff;
}

.item-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
    border-bottom: 1px #333330 dashed;
}

.item-desc {
    font-size: 14px;
    color: #F5F2EA;
}

footer {
    background: #0A0B0A;
    padding: 20px;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
}