/* Gentium Plus */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@400;700&display=swap&subset=greek');
/* IBM Plex Sans */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap&subset=greek');


:root {
    --font_family_gp: 'Gentium Plus', Arial;
    --font_family_ibm: 'IBM Plex Sans', sans-serif;
}

* {
    font-family: var(--font_family_ibm);
    user-select: none;
}

button:focus {
    outline: none;
    border: none;
}

body {
    margin: 0;
    font-family: var(--font_family_ibm);
    background: url('https://raw.githubusercontent.com/whiskakii/kaif_oc/refs/heads/main/images/hbgr.png');
    background-color: #0A0B0A;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    /* background: rgba(33, 167, 33, 0.65); */
    max-width: 700px;
    margin: 0 auto;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 150px;
    height: auto;
}

#loading {
    font-family: var(--font_family_gp);
    margin-top: 220px;
    color: #EFE7D2;
}

.r_menu {
    font-family: var(--font_family_gp);
    background: rgba(24, 24, 24, 0.35);
    outline: none;
    text-transform: uppercase;
    color: #EFE7D2;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 5px;
    padding: 10px 30px;
    border-radius: 3px;
    border: 1px solid #333330;
}

.r_menu:hover {
    background: rgba(24, 24, 24, 0.55);
    border: 1px solid rgb(78, 76, 71);
}